{% extends "core/_core.html" %}

{% block title %}Pardus | {{ user.username }}{% endblock %}

{% block header-header %}
    <h1 class="site-title text-uppercase">Pardus</h1>
{% endblock %}
{% block header-body %}
    <h3 class="page-type text-uppercase">Utilisateur</h3>
    <h2 class="page-title text-uppercase">{{ user.username }}</h2>
{% endblock %}

{% block page-container %}
    <!-- Haut du conteneur de la page -->
    <!-- Profile Container -->
    <div class="profile-container">
        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="profilePublicTab" data-toggle="pill" href="#profilePublic"
                           role="tab" aria-controls="profilePublic" aria-selected="true"><i class="fas fa-globe"></i> Public</a>
                        <a class="nav-link" id="profileArticlesTab" data-toggle="pill" href="#profileArticles"
                           role="tab" aria-controls="profileArticles" aria-selected="false"><i
                                class="fas fa-newspaper"></i> Articles</a>
                        {% if user == request.user %}
                            <a class="nav-link" href="{% url "settings" %}"><i class="fas fa-cogs"></i> Paramètres</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile Body -->
        <div class="profile-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="profilePublic" role="tabpanel"
                     aria-labelledby="profilePublicTab">
                    <h2>À propos de <span class="badge badge-primary">{{ user.username }}</span> :</h2>
                    <div class="card">
                        <div class="card-body">
                            <p class="mb-0">Inscription : {{ user.date_joined }}</p>
                            <p class="mb-0">Dernière connexion : {{ user.last_login }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profileArticles" role="tabpanel" aria-labelledby="profileArticlesTab">
                    <h2>Articles publiés par <span class="badge badge-primary">{{ user.username }}</span> :</h2>
                    {% for article in articles %}
                        <!-- Carte d'article -->
                        <div class="card card-modern"
                                {% if article.image %}
                             style="background-image: url('{{ article.image.url }}')"
                                {% endif %}>
                            <!-- Haut de la carte d'article -->
                            <div class="card-header">
                                <h3 class="card-title">{{ article.title }}</h3>
                            </div>
                            <!-- Corps de la carte d'article -->
                            <div class="card-body">
                                <p class="card-text">
                                    {{ article.content|striptags|truncatewords:40 }}
                                </p>
                                <a href="{% url "article_read" article.id article.slug %}" class="btn btn-primary">Lire
                                    plus...</a>
                            </div>
                            <!-- Bas de la carte d'article -->
                            <div class="card-footer">
                                <div class="d-flex flex-wrap">
                                    <div class="mr-auto">
                                        <p>
                                            Article écrit par <a href="{% url "profile" article.author.id %}"
                                                                 class="badge badge-primary">{{ article.author }}</a>
                                            le <a href="{% url "date_filter" article.date.year article.date.month %}"
                                                  class="badge badge-primary"> {{ article.date|date:"d/m/Y" }}</a>
                                            à {{ article.date|date:"H\hi" }}
                                            <br>
                                            Catégories :
                                            {% for category in article.categories.all %}
                                                <a href="{% url "categories_filter" category.id %}"
                                                   class="badge badge-primary">{{ category.name }}</a>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="align-self-end mt-2">
                                        <button type="button" class="btn btn-primary btn-sm"><i
                                                class="fas fa-heart"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i
                                                class="fas fa-comment"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm"><i
                                                class="fas fa-share"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Aucun article n'a été publié par {{ user.username }}</p>
                    {% endfor %}

                    {% if is_paginated %}
                        <!-- Menu de navigation de page -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mt-4">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}#profileArticlesTab">Précédent</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Précédent</a></li>
                                {% endif %}
                                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a>
                                </li>
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}#profileArticlesTab">Suivant</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">Suivant</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        var hash = document.URL.substr(document.URL.indexOf('#') + 1);
        if (hash) {
            $("#" + hash).tab("show");
        }
    </script>
{% endblock %}