{% extends "core/_core.html" %}

{% block title %}{{ WEBSITE_NAME }} | Paramètres{% endblock %}

{% block header-header %}
    <h1 class="site-title text-uppercase">{{ WEBSITE_NAME }}</h1>
{% endblock %}
{% block header-body %}
    <h2 class="page-title text-uppercase">Paramètres</h2>
{% endblock %}

{% block page-container %}
    <!-- Haut du conteneur de la page -->
    <div class="flexy-y">
        <form action="." method="post" class="custom-form">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">Un ou plusieurs champs sont incorrects</div>
            {% endif %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            {% for message in messages %}
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                          role="alert">{{ message }}</div>
            {% endfor %}
            <!-- Conteneur des informations personnelles -->
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title m-0">Informations personnelles</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Conteneur du changement d'adresse email -->
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title m-0">Changer d'adresse e-mail</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary" role="alert">
                        Adresse e-mail actuelle : {{ request.user.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        <label for="{{ form.email_confirm.id_for_label }}">{{ form.email_confirm.label }}</label>
                        {{ form.email_confirm }}
                        {% for error in form.email_confirm.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Conteneur du changement de mot de passe -->
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title m-0">Changer de mot de passe</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                        <label for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}</label>
                        {{ form.password_confirm }}
                        {% for error in form.password_confirm.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password_save.id_for_label }}">{{ form.password_save.label }} :</label>
                {{ form.password_save }}
                {% for error in form.password_save.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <a class="btn btn-link" href="{% url "profile" %}">Annuler</a>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
    </div>
{% endblock %}